#graph-input {
  display: none;
}

#graph-samples {
  min-width: 350px;
}

#default-layout {
  height: 800px;
  width: 100%;
  border: 1px solid;
}

#signalling-layout {
  height: 800px;
  width: 100%;
  border: 1px solid;
}

#cose-bilkent-layout {
  height: 800px;
  width: 100%;
  border: 1px solid;
}

.control {
  margin-top: 30px;
  margin-bottom: -10px;
}

.btn:hover {
  color: #dc8832;
}

.sample-file:hover {
  color: white;
  background-color: #dc8832;
}

.orange {
  color: #dc8832
}

.brand-logo {
  margin-left: 10px;
}
